In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model 
import pickle

In [5]:
#load the model, pickle file
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [35]:
#load encoder and scaler
with open('OneHotEncoder_obj.pkl','rb') as f:
    onehot_geo=pickle.load(f)
with open('label_encoder_gender.pkl','rb') as f:
    label_encoder_gender=pickle.load(f)    
with open('scaler_write.pkl','rb') as f:    
    scaler=pickle.load(f)

In [23]:
input_data={
    'CreditScore': 600,
    'Geography': 'Germany',
    'Gender':'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [24]:
geo_encoded=onehot_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\2401722\OneDrive - Cognizant\Documents\PythonLearn\Venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [ ]:
input_data=pd.concat([pd.DataFrame([input_data]),geo_encoded_df],axis=1)

In [28]:
input_data.drop(['Geography'],axis=1)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,0.0,1.0,0.0

In [ ]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

In [39]:
input_data.drop(['Geography'],axis=1,inplace=True)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,0.0,1.0,0.0

In [40]:
#scaling the data
input_scaler_data=scaler.transform(input_data)
input_scaler_data

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221, -0.99850112,
         1.72572313, -0.57638802]])

In [42]:
prediction=model.predict(input_scaler_data)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step

array([[0.07878852]], dtype=float32)

In [44]:
prediction_prob=prediction[0][0]
prediction_prob

np.float32(0.07878852)

In [ ]:
if prediction_prob>0.5:
    print("The customer will leave the bank")
else:
    print("The customer will stay in the bank")